.tiny-header {
	display: table;
	border:  solid #dddddd 1px ;
	border-radius: 5px;
	border-bottom: 20px;
	padding: 15px;
	box-shadow: 5px 10px #dddddd;
}

.tiny-title {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 16px;
}

.tiny-subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.tiny-form {
	padding: 20px;
}

.tiny-label {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding: 4px;
}

.tiny-about {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.tiny-encodefield {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bolder'
}

.tiny-decodefield {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bolder
}

.tiny-error {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: red;
}

.tiny-input {
    display: flex;
    flex-direction: row;
}

.tiny-output {
    display: flex;
    flex-direction: row;
}

.tiny-row {
    display: flex;
    flex-direction: row;
}


fieldset {
    border: 0;
}
